.user-background {
    background-image: url("/images/Dumbell&Towel.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.catalog-background {
    background-image: url("/images/Dumbell&Apple.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.workout-background{
    background-image: url("/images/Dumbell&Protein.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.margin-bottom {
    margin-top: 5px;
    min-height: calc(100vh - 130px);
  }


.workout-margin-bottom {
    margin-bottom: 10px;
    min-height: calc(100vh - 300px);
    top: 35.5%
  }

  .translucent-box:nth-child(2){
    right: 1%;
    top: 14%;
    overflow-y: auto;
    max-height: 45vh;
}

@media (max-width: 395px) {
    .translucent-box:nth-child(2){
        left: 5%;
        top: 85%;
        overflow-y: auto;
        max-height: 45vh;
        max-width: 175px;
    }
  }

  .new_workout_button{
    color: blue;
    font-size: 50px;
    text-decoration: none;
  }

  .new_workout_button:hover {
    color: black;
    transition: width 0.3s ease-out 0.2s;
    font-weight: bold;
  }

  .workout_link{
    text-decoration: none;
    display: flex;
    /* justify-content: center; */
    color: black;
    margin-bottom: 10px;
  }

  .workout_link:hover {
    color: black;
    transition: width 0.3s ease-out 0.2s;
    font-weight: bold;
  }

  .table-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  .table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.table tr{
    text-align: center;
}
  