.user-background {
    background-image: url("/images/Dumbell&Towel.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.catalog-background {
    background-image: url("/images/Dumbell&Apple.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.workout-background{
    background-image: url("/images/Dumbell&Protein.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.margin-bottom {
    margin-top: 5px;
    min-height: calc(100vh - 130px);
  }


.workout-margin-bottom {
    margin-bottom: 10px;
    min-height: calc(100vh - 300px);
    top: 35.5%
  }

  .translucent-box:nth-child(2){
    right: 1%;
    top: 14%;
    overflow-y: auto;
    max-height: 45vh;
}

@media (max-width: 395px) {
    .translucent-box:nth-child(2){
        left: 5%;
        top: 85%;
        overflow-y: auto;
        max-height: 45vh;
        max-width: 175px;
    }
  }
  